h1{
    font-size: 50px;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    margin: 0px;
}
.highlight-name{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding: 20px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-weight: 800;
}
.dream-banner{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.experienxce-part{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.experiences-banner{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: 0%;
}
#design{
    border-left: 7px solid;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 50%;
    padding: 10px 10px;
}
.color-tomato{
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
    background-color: white;
}
.color-blue{
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer{
    text-align: center;
    size: 12px;
}